// * * * * COLOURS
$primary: maroon;
$secondary: firebrick;
$third: moccasin;
$accent: aquamarine;
$black: #333;
$white: #fff;

// * * * * FONTS
$fontSize: 2rem;
$lineHeight: 2rem;
$headingFont: "Poppins", sans-serif;
$headingFont2: "Kreon", cursive;
$headingFont2: "Chewy", cursive;
$bodyFont: "Open Sans", sans-serif;
